<% if (entry.title) { %>
    <h1><%= title %></h1>
<% } %>

<% if (!entry.title) { %>
    <% include common/tags.ejs %>
<% } %>

<div class="entry">
    <form method="post" enctype="multipart/form-data" action="/entry">
        <p class="ui fluid input">
            <input type="text" name="entry_title" placeholder="主题" class="title" value="<%=entry.title%>"/>
        </p>
        <p>
            <% if (state.richEditor == true) { %>
                <textarea id="summernote" name="entry_body" style="display: none"><%=entry.body%></textarea>
            <% } else { %>
                <textarea class="textarea" name="entry_body" placeholder="正文"><%=entry.body%></textarea>
            <% }%>
        </p>

        <!-- if is case studies -->
        <% if (state.column == 'case') { %>
            <p class="file">
                <span>HOME 首页图:</span>
                <input type="file" name="entry_home"/>
            </p>
            <p class="file">
                <span>HOME 首页图 Mobile:</span>
                <input type="file" name="entry_home_mobile"/>
            </p>
            <p class="file">
                <span>Case studies图:</span>
                <input type="file" name="entry_case"/>
            </p>
            <p class="file">
                <span>Case studies图 Mobile:</span>
                <input type="file" name="entry_case_mobile"/>
            </p>
            <p class="file">
                <span>详情页html文件索引:</span>
                <input type="number" name="entry_order" min="0" placeholder="详情页对应的order, 数字" style="width: 200px;" value="<%=entry.order%>" />
            </p>
        <% }%>
        <p>
            <button type="submit" class="ui button blue entry-submit">创建</button>
        </p>
        <input name="entry_type" type="hidden" value="<%= state.column %>"/>
        <input name="entry_status" type="hidden" value="<%= state.status %>"/>
        <input name="entry_date" type="hidden"/>
        <% if (entry.id) { %>
        <input name="entry_id" type="hidden" value="<%= entry.id %>"/>
        <% } %>
    </form>
</div>

